<h2>Edit Your Outfit</h2>
<h3> Outfit Name:   <%=@outfit.name.capitalize%> </h3>

<ul>
<%@outfit.items.each do |item|%>
    <li><%=item.name%></li>
<%end%>
</ul>

<h2>Add Item to Outfit</h2>

<%=form_for @outfit do |f|%>
<%=f.collection_select(:id, @items, :id, :name)%>
<%=f.submit%>
<%end%>

