<h2><%=@item.name%></h2>
<h3><%=@item.brand%></h3>

<%= image_tag(@item.img_url, :alt => "landing pic") %>



<p>Item Style: <%=@item.style.name%></p>
<p>Item Category: <%=@item.category.name%></p>

<br>

<p>Users with this item in their outfits:</p>
<%array = []%>
<%@item.outfits.each do |o|%>
    <% array << o.user.to_s%>
<%end%>
<ul>

<%array.uniq.each do |user|%>
    <li> <%=user%> </li>
<%end%>
</ul>

<br>

<%=link_to 'All Items', items_path%>